body{
  background-color: rgb(8, 239, 228);
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 80px;
  font-weight: 700;
  color: rgb(1, 51, 254);
  text-align: center;
 }
.listNameInput{
  font-size: 20px;
  padding: 10px;
  border-color: rgb(255, 0, 0);  
  border-radius: 5px;
  margin-bottom: 40px;
 }
 .addBtn{
  margin: 30px;
  font-size: 20px;
  color: rgba(201, 21, 21, 0.679);
  padding: 10px 5px;
  border-radius: 5px;
  border-color: white;

 }
.todoName{
  text-decoration:line-through;
}
.todo{
  display: flex;
}
.todoItem{
  margin-left: 43%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.checkbox{
  width: 20px;
  height: 20px;
}
.deleteBtn{
  margin-left: 60px;
  height: 50px;
  background-color: inherit;
  color: rgb(0, 13, 255);
  border-color: red;
  border-radius: 5px;
}
.todoTitle{
  max-width: 150px;
  margin-left: 10px;
}